footer.footer
  .container
    .row
      .col-24.col-md-20.offset-md-2
        .row
          .col-24
            .footer__container
              .footer__wrapper
                .footer__rancagua-logo
                  img(src="/images/logo-corp.png")
              .footer__wrapper
                p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              .footer__wrapper
                p.footer__text (00) 0000 0000
                p.footer__text elis2018@rancagua.cl
              .footer__wrapper
                .footer__logo-purple
                  img(src="/images/logo-purple.png")
          .col-24
            .footer__group
              p.footer__copyright &copy; Desarrollo e innovación Rancagua
              ul.footer__social
                li.footer__item
                  a
                    i.fa.fa-facebook
                li.footer__item
                  a
                    i.fa.fa-twitter
                li.footer__item
                  a
                    i.fa.fa-linkedin


