extends ../_layouts/base

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main.noticias
    section.noticias__hero
      .container
        .row
          .col-24.col-md-20.offset-md-2
            h2.noticias__hero__title Noticias
    section.noticias__container
      .noticias__container__ripped-background
        img(src="/images/red/ripped-top.png")
      .container
        .row
          .col-24.col-md-20.offset-md-2
            .row
              .col-24
                .noticias__container__noticia-wrapper.-main-new
                  .noticias__container__noticia-content.-main-new
                    .noticias__container__noticia-subtitle ELIS 2019
                    h2.noticias__container__noticia-title.-main-new Se abre la convocatoria para postular a ELIS 2019
                    .noticias__container__noticia-text.-main-new Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  .noticias__container__noticia-image.-main-new
                    img.-main-new(src="/images/home/news-1.jpg")
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-1.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2019
                    h3.noticias__container__noticia-title Se abre la convocatoria para postular a ELIS 2019
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-2.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2019
                    h3.noticias__container__noticia-title Se abre la convocatoria para postular a ELIS 2019
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-3.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2018
                    h3.noticias__container__noticia-title Se realiza con éxito ELIS 2018
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-3.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2018
                    h3.noticias__container__noticia-title Se realiza con éxito ELIS 2018
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-1.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2019
                    h3.noticias__container__noticia-title Se abre la convocatoria para postular a ELIS 2019
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8
                .noticias__container__noticia-wrapper
                  .noticias__container__noticia-image
                    img(src="/images/home/news-2.jpg")
                  .noticias__container__noticia-content
                    .noticias__container__noticia-subtitle ELIS 2019
                    h3.noticias__container__noticia-title Se abre la convocatoria para postular a ELIS 2019
                    .noticias__container__noticia-text Lorem ipsum dolor sit consectetur adipscing ullamco laboris elit.
              .col-24.col-md-8.offset-md-8
                button.noticias__container__more-button
                  p Ver más
      