extends ../_layouts/base

include ../_modules/slider/slider

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main.encuentro
    section.encuentro__hero
      .container
        .row
          .col-24.col-md-20.offset-md-2
            h3.encuentro__hero__subtitle HISTORIA
          .col-24.col-md-8.offset-md-2
            h2.encuentro__hero__title Descripción de la motivación para hacer el encuentro.
          .col-24.col-md-8.offset-md-4
            p.encuentro__hero__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            p.encuentro__hero__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    section.encuentro__encuentros
      +slider('encuentro__slider__slider')
        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")

        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")

        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")

        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")

        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")

        .encuentro__encuentros__slide
          .encuentro__encuentros__slide-container
            .encuentro__encuentros__slide-content
              h4.encuentro__encuentros__slide-subtitle PRIMERA VERSIÓN
              h3.encuentro__encuentros__slide-title Colombia 2015
              .encuentro__encuentros__slide-wrapper
                .encuentro__encuentros__slide-date
                  i.fa.fa-calendar
                  p 2 - 4 Diciembre
                .encuentro__encuentros__slide-location
                  i.fa.fa-map-marker
                  p Bogotá
              p.encuentro__encuentros__slide-text Buscó crear un espacio de diálogo y de construcción participativa entre actores del sector público de toda la región, que estén generando conocimiento y soluciones de alto umpacto para mejorar la calidad de vida de la población en situación de vulnerabilidad. El evento fue dirigido principalmente a ejecutores de política pública, académicos, entidades privadas, organizacipnes de la sociedad civil y estudiantes de carreras afines. Una contribución a la creación de un espacio de diálogo donde CAF banco de desarrollo de América Latina promueve la innovación social a través de la articulación de actores, el intercambio u la difusión de experiencias y aprendizajes con miras a aportar nuevas ideas a necesidades sociales no resueltas.
            .encuentro__encuentros__slide-image
              img(src="/images/encuentro/slide.jpg")
    section.encuentro__resena
      .container
        .row
          .col-24.col-md-8.offset-md-2
            h4.encuentro__resena__subtitle RESEÑA
            h3.encuentro__resena__title Lorem ipsum dolor sit amet, consectetur adipiscing elit
          .col-24.col-md-8.offset-md-4
            p.encuentro__resena__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    section.encuentro__programacion
      .encuentro__programacion__ripped-background
        img(src="/images/red/ripped-top.png")
      .container
        .row
          .col-24
            .encuentro__programacion__container
              h4.encuentro__programacion__subtitle PROGRAMACION
              h3.encuentro__programacion__title 23 de Junio
          .col-24.col-md-12.offset-md-6
            .encuentro__programacion__group
              .encuentro__programacion__group-wrapper
                .encuentro__programacion__content-group.encuentro__programacion__content-group--left.-right
                  h4.encuentro__programacion__subtitle 09.00 HS
                  h3.encuentro__programacion__title.encuentro__programacion__title--small Lorem ipsum dolor consectetur sit amet.
    
              .encuentro__programacion__group-wrapper
                .encuentro__programacion__content-group.-left
                  h4.encuentro__programacion__subtitle 11.30 HS
                  h3.encuentro__programacion__title.encuentro__programacion__title--small Lorem ipsum dolor consectetur sit amet.
                .encuentro__programacion__content-group.-right
                  .encuentro__programacion__image
                    img(src="/images/encuentro/person-1.png")

              .encuentro__programacion__group-wrapper
                .encuentro__programacion__content-group.-left
                  .encuentro__programacion__image.encuentro__programacion__image--left
                    img(src="/images/encuentro/person-2.png")
                .encuentro__programacion__content-group.-right
                  h4.encuentro__programacion__subtitle 14.00 HS
                  h3.encuentro__programacion__title.encuentro__programacion__title--small Lorem ipsum dolor consectetur sit amet.

              .encuentro__programacion__group-wrapper
                .encuentro__programacion__content-group.-left
                  h4.encuentro__programacion__subtitle 16.30 HS
                  h3.encuentro__programacion__title.encuentro__programacion__title--small Lorem ipsum dolor consectetur sit amet.
    section.encuentro__ubicacion
      .encuentro__ubicacion__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.062758512553!2d-70.74283628478183!3d-34.17031308057395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9663433ff87e5537%3A0x6eebafbe61fcb468!2sPlaza+de+los+Heroes!5e0!3m2!1ses-419!2sar!4v1560428341520!5m2!1ses-419!2sar" allowfullscreen data-content="municipal").-active
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3301.294690668644!2d-70.74382838424752!3d-34.164382541892664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966343135916de85%3A0x7b0fb07a5197ac6f!2sLibertador+Bernardo+O&#39;Higgins+611%2C+Rancagua%2C+Regi%C3%B3n+del+Libertador+Gral.+Bernardo+O%E2%80%99Higgins%2C+Chile!5e0!3m2!1ses-419!2sar!4v1560428690423!5m2!1ses-419!2sar" allowfullscreen data-content="uoh")
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3300.870160888052!2d-70.7429440842473!3d-34.175237142460574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96634338aac3c365%3A0x7b3d6b132ce00f9a!2sAv.+Capit%C3%A1n+Antonio+Mill%C3%A1n+342%2C+Rancagua%2C+Regi%C3%B3n+del+Libertador+Gral.+Bernardo+O%E2%80%99Higgins%2C+Chile!5e0!3m2!1ses-419!2sar!4v1560428608566!5m2!1ses-419!2sar" allowfullscreen data-content="regional")
      .encuentro__ubicacion__locations
        .encuentro__ubicacion__location(data-target="municipal")
          h3.encuentro__ubicacion__title Auditorio Municipal
          p.encuentro__ubicacion__text Plaza de los Héroes #445, Rancagua
        .encuentro__ubicacion__location(data-target="uoh")
          h3.encuentro__ubicacion__title Auditorio UOH
          p.encuentro__ubicacion__text Libertador Bernardo O´Higgins 611, Rancagua
        .encuentro__ubicacion__location(data-target="regional")
          h3.encuentro__ubicacion__title Teatro Regional de Rancagua
          p.encuentro__ubicacion__text Av. Capitán Antonio Millán 342, Rancagua
    section.encuentro__formularios
      .encuentro__formularios__ripped-background
        img(src="/images/encuentro/ripped-bottom-white.png")
      .container
        .row
          .col-24.col-md-20.offset-md-2
            .encuentro__formularios__wrapper
              a.encuentro__formularios__container(href="#")
                i.fa.fa-pencil-square-o
                h3.encuentro__formularios__title Convocatoria Casos
                .encuentro__formularios__button
                  p Ver formulario
                  span
              a.encuentro__formularios__container(href="#")
                i.fa.fa-pencil-square-o
                h3.encuentro__formularios__title Convocatoria Papers
                .encuentro__formularios__button
                  p Ver formulario
                  span


